/* 
## Colors

### Primary

- Light Cyan: hsl(193, 38%, 86%)
- Neon Green: hsl(150, 100%, 66%)

### Neutral

- Grayish Blue: hsl(217, 19%, 38%)
- Dark Grayish Blue: hsl(217, 19%, 24%)
- Dark Blue: hsl(218, 23%, 16%)

## Typography

### Body Copy

- Font size (quote): 28px

*/

body {
    padding: 0 10px;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    background-color: hsl(218, 23%, 16%);
    color: hsl(193, 38%, 86%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    background-color: hsl(217, 19%, 24%);
    border-radius: 10px;
    padding: 10px 0 0;
}

.title {
    color: hsl(150, 100%, 66%);
    padding: 30px 0 26px;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 4px;
}

.quote {
    font-size: 24px;
    font-weight: 700;
    padding: 0 16px 22px;
}

.divider {
    padding-bottom: 60px;
}

.dice button {
    background-color: hsl(150, 100%, 66%);
    border-radius: 50%;
    border: none;
    padding: 18px;
    position: relative;
    top: -34px;
}

@media screen and (min-width: 600px) {

    body {
        width: 100vw;
    }

    main {
        width: 37%;
    }

    .title {
        padding: 40px 0 24px;
        font-size: 13px;
    }

    .quote {
        font-size: 28px;
        padding: 0 16px 22px;
    }

    .divider {
        padding: 15px 0 68px;
    }

    .dice button:hover {
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 40px 3px hsl(150, 100%, 66%);
        -moz-box-shadow: 0px 0px 40px 3px hsl(150, 100%, 66%);
        box-shadow: 0px 0px 40px 3px hsl(150, 100%, 66%);
    }
}