* {
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    max-width: 1440px;
    font-family: 'Epilogue', sans-serif;
    height: 100vh;
    background-color: hsl(0, 0%, 98%);
}

nav,
main {
    margin: 0 40px;
}

nav {
    display: flex;
    align-items: center;
    height: 92px;
}

nav>img {
    width: 90px;
    height: 28px;
}

nav ul {
    width: 100%;
    list-style-type: none;
    margin-left: 20px;
}

nav ul img {
    margin-left: 2px;
    vertical-align: middle;
}

nav>ul>li {
    display: inline;
    margin-left: 40px;
    color: hsl(0, 0%, 41%);
}

nav ul li:nth-child(5) {
    float: right;
    margin-right: 20px;
}

button {
    font-family: 'Epilogue', sans-serif;
    padding: 11px 20px;
    background-color: hsl(0, 0%, 98%);
    border-color: hsl(0, 0%, 41%);
    border-radius: 12px;
    color: hsl(0, 0%, 41%);
    margin-left: 15px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;

    font-size: 14px;
    line-height: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.dropdown ul {

    padding: 20px 0;
}

.right {
    width: 150px;
    right: 5px;
    top: 30px;
}

.left {
    width: 135px;
    left: -15px;
    top: 30px;
}

.dropdown ul li {
    text-align: left;
    margin-left: 25px;
}

.dropdown-content li img {
    margin-right: 10px;
}

li {
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    width: 84%;
    height: auto;
    display: flex;
    align-items: center;
    height: 70vh;
    margin: 35px auto 0;
}

.left-container {
    width: 44%;
    margin: 100px 0 0 50px;
}

.left-container h1 {
    font-size: 80px;
    margin-bottom: 45px;
}

.left-container p {
    font-size: 18px;
    margin-bottom: 52px;
    width: 80%;
    line-height: 28px;
    color: hsl(0, 0%, 41%);
}

.left-container button {
    background-color: hsl(0, 0%, 8%);
    padding: 15px 32px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 700;
    color: hsl(0, 0%, 98%);
}

.right-container {
    width: 40%;
    height: auto;
    margin-left: auto;
}

.logos {
    margin-top: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logos img {
    width: auto;
    height: 20px;
}

.logos img:nth-child(2) {
    height: 35px;
}

.logos img:nth-child(4) {
    height: 25px;
}