.icons {
    padding: 55px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bg {
    margin-top: 80px;
    z-index: -1;
    position: absolute;
    height: 210px;
    width: 100%;
}

.bg-image {
    height: 180px;
}